---
// src/pages/[...index].astro
import { lang } from '@/config'
import Layout from '../layouts/Layout.astro'
import { getPinnedArticles, getArticlesByYear } from '@/utils/content'
import AllArticles from '@/components/AllArticles.astro'

export async function getStaticPaths() {
  type PathItem = {
    params: { index: string | undefined }
    props: { language: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { index: undefined },
    props: { language: lang }
  })

  return paths
}

const pinnedPosts = await getPinnedArticles()
const articlesByYear = await getArticlesByYear()
---

<Layout>
	<h2>Welcome!</h2>
	<p>This is a lightning-fast website built using the Astro framework.</p>
	<img src="https://gcore.jsdelivr.net/gh/Karlbaey/tutu@master/picture10/20251108164726616.png" alt="Acheron" />
  <p><a href="/articles/a-memory-for-forgetting/">Jump to the only article.</a></p>
  <p><a href="/articles/cheatsheet/">Jump to the cheatsheet.</a></p>
  <!-- Pinned Posts -->
  {pinnedPosts.length > 0 && (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <AllArticles articles={pinnedPosts} lang={lang} pinned={true} /> 
    </section>
  )}
  {[...articlesByYear.entries()].map(([_year, articles]) => (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <AllArticles articles={articles} lang={lang} />
    </section>
  ))}
</Layout>
