---
// src/pages/index.astro
import { getEntry } from "astro:content";
import { lang } from "@/config";
import { getArticles } from "@/utils/content";
import Layout from "../layouts/Layout.astro";
import Division from "@/components/styles/Division.astro";
import LatestArticles from "@/components/LatestArticles.astro";

export async function getStaticPaths() {
  type PathItem = {
    params: { index: string | undefined };
    props: { language: string };
  };

  const paths: PathItem[] = [];

  paths.push({
    params: { index: undefined },
    props: { language: lang },
  });

  return paths;
}

const entry = await getEntry("main_page", "index");

if (!entry) {
  throw new Error("未找到 src/content/main_page/index.md 文件");
}
const { Content } = entry ? await entry.render() : { Content: null };

const allArticles = await getArticles();
---

<Layout articleTitle={entry.data.title}>
  <!-- <div class="markdown"> -->
  <div class="markdown max-w-3xl px-4 mx-auto mb-6">
    <h1>{entry.data.title}</h1>
    <h2>{entry.data.subtitle}</h2>
    {Content && <Content />}
  </div>
  <Division />
  <div class="readme-page">
    <p>
      最近更新的文章，来看看？<a href="/articles/" rel="noopener"
        >所有文章的归档→</a
      >
    </p>
  </div>
  <div class="list-page">
    <section class="mb-7.5">
      <LatestArticles articles={allArticles} lang={lang} />
    </section>
  </div>
</Layout>
