---
// src/pages/index.astro
import { getEntry } from "astro:content";
import { lang } from "@/config";
import { getPinnedArticles, getArticlesByYear } from "@/utils/content";
import Layout from "../layouts/Layout.astro";
import Division from "@/components/styles/Division.astro";
import AllArticles from "@/components/AllArticles.astro";

export async function getStaticPaths() {
  type PathItem = {
    params: { index: string | undefined };
    props: { language: string };
  };

  const paths: PathItem[] = [];

  // Default locale
  paths.push({
    params: { index: undefined },
    props: { language: lang },
  });

  return paths;
}

const entry = await getEntry("main_page", "index");

if (!entry) {
  throw new Error("未找到 src/content/main_page/index.md 文件");
}
const { Content } = entry ? await entry.render() : { Content: null };

const pinnedPosts = await getPinnedArticles();
const articlesByYear = await getArticlesByYear();
---

<Layout articleTitle={entry.data.title}>
  <div class="markdown readme-page">
    <h1>{entry.data.title}</h1>
    <h2>{entry.data.subtitle}</h2>
    {Content && <Content />}
  </div>
  <Division />
  <div class="list-page">
    {
      pinnedPosts.length > 0 && (
        <section class="mb-7.5">
          <AllArticles articles={pinnedPosts} lang={lang} pinned={true} />
        </section>
      )
    }
    {
      [...articlesByYear.entries()].map(([_year, articles]) => (
        <section class="mb-7.5">
          <AllArticles articles={articles} lang={lang} />
        </section>
      ))
    }
  </div>
</Layout>
