---
import type { Article, Language } from "@/types";
import { isArticlePage } from "@/utils/pages";
import { getArticlePath } from "@/utils/path";
import { getArticleDescription } from "@/utils/description";
import ArticleDate from "./ArticleDate.astro";

export interface Props {
  articles: Article[];
  lang: Language;
}

const { articles = [], lang } = Astro.props;
const isArticle = isArticlePage(Astro.url.pathname);

// 获取最新的 3 篇文章
const recentArticles = articles.slice(0, 3);
---

<ul class="article-items">
  {
    recentArticles.map((article) => {
      const slug = article.data.abbrlink || article.id;

      return (
        <li class:list={["mb-6", isArticle ? "lg:mb-10" : ""]}>
          <h3 class="inline hover:underline underline-offset-2">
            <a
              class:list={["tracking-wide"]}
              href={getArticlePath(slug)}
              transition:name={`article-${slug}${lang ? `-${lang}` : ""}`}
              data-disable-theme-transition
            >
              {article.data.title}
            </a>
          </h3>

          <div class="block mt-1 text-sm font-time lg:ml-2.5 lg:inline lg:mt-0">
            <ArticleDate
              date={article.data.published}
              minutes={article.remarkPluginFrontmatter.minutes}
            />
          </div>

          {isArticle && (
            <div class="mt-2 block lg:mt-3">
              <p>{getArticleDescription(article, "list")}</p>
            </div>
          )}
        </li>
      );
    })
  }
</ul>

<style>
  .article-items a {
    color: var(--color-text-primary);
    text-decoration: none;
  }

  li::before {
    display: none;
  }
</style>
