---
import type { Article, Language } from "@/types";
import { isArticlePage } from "@/utils/pages";
import { getArticlePath } from "@/utils/path";
import { getArticleDescription } from "@/utils/description";
import Pin from "@/assets/pin.svg";
import ArticleTags from "@/components/meta/ArticleTags.astro";
import ArticleDate from "./ArticleDate.astro";

export interface Props {
  articles: Article[];
  lang: Language;
  pinned?: boolean;
}

const { articles, lang, pinned = false } = Astro.props;
const isArticle = isArticlePage(Astro.url.pathname);
---

<ul class="grid gap-4 lg:gap-6">
  {
    articles.map((article) => {
      const slug = article.data.permalink || article.id;

      return (
        <li class="group relative flex flex-col rounded-2xl border border-black/5 bg-white/50 p-5 shadow-sm transition-all duration-300 hover:-translate-y-1 hover:shadow-md dark:border-white/10 dark:bg-white/5 lg:p-6">
          <div class="absolute right-4 top-4 opacity-0 transition-all duration-300 group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:opacity-100 lg:right-6 lg:top-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M17.92 6.62a1 1 0 0 0-.54-.54A1 1 0 0 0 17 6H7a1 1 0 0 0 0 2h7.59l-8.3 8.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L16 9.41V17a1 1 0 0 0 2 0V7a1 1 0 0 0-.08-.38"
              />
            </svg>
          </div>
          <h3 class="mb-2 text-lg font-bold tracking-wide lg:text-xl pr-8 text-(--color-text-primary)">
            <a
              href={getArticlePath(slug)}
              transition:name={`article-${slug}${lang ? `-${lang}` : ""}`}
              data-disable-theme-transition
              class="before:absolute before:inset-0"
            >
              {article.data.title}
            </a>
            {pinned && (
              <Pin
                aria-hidden="true"
                class="ml-1 mb-1 inline-block aspect-square h-5 w-5 text-red-500"
                fill="currentColor"
              />
            )}
          </h3>
          <div class="mb-3 text-sm text-(--color-text-secondary)">
            <ArticleDate
              date={article.data.published}
              minutes={article.remarkPluginFrontmatter.minutes}
            />
          </div>
          {isArticle && (
            <p class="mb-4 line-clamp-3 text-sm text-(--color-text-paragraph) lg:text-base">
              {getArticleDescription(article, "list")}
            </p>
          )}

          <div class="relative z-10 mt-auto">
            <ArticleTags article={article} />
          </div>
        </li>
      );
    })
  }
</ul>
