---
import type { Article, Language } from "@/types";
import { isArticlePage } from "@/utils/pages";
import { getArticlePath } from "@/utils/path";
import { getArticleDescription } from "@/utils/description";
import Pin from "@/assets/pin.svg";
import ArticleTags from "@/components/meta/ArticleTags.astro";
import ArticleDate from "./ArticleDate.astro";

export interface Props {
  articles: Article[];
  lang: Language;
  pinned?: boolean;
}

const { articles, lang, pinned = false } = Astro.props;
const isArticle = isArticlePage(Astro.url.pathname);
---

<ul class="article-items">
  {
    articles.map((article) => {
      const slug = article.data.permalink || article.id;

      return (
        <li class:list={["mx-auto mb-6", isArticle ? "lg:mb-10" : ""]}>
          <h3 class="inline transition-colors">
            <a
              class:list={[
                "tracking-wide",
                isArticle ? "lg:font-medium lg:text-lg" : "",
              ]}
              href={getArticlePath(slug)}
              transition:name={`article-${slug}${lang ? `-${lang}` : ""}`}
              data-disable-theme-transition
            >
              {article.data.title}
            </a>
            {pinned && (
              <Pin
                aria-hidden="true"
                class="ml-[0.25em] inline-block aspect-square w-[0.98em] lg:w-[1.05em]"
                fill="currentColor"
              />
            )}
          </h3>

          <div class="block mt-1 text-sm font-time lg:ml-2.5 lg:inline lg:mt-0">
            <ArticleDate
              date={article.data.published}
              minutes={article.remarkPluginFrontmatter.minutes}
            />
          </div>

          <ArticleTags article={article} />

          {isArticle && (
            <div class="mt-2 block lg:mt-3">
              <p>{getArticleDescription(article, "list")}</p>
            </div>
          )}
        </li>
      );
    })
  }
</ul>

<style>
  .article-items a {
    color: var(--color-text-primary);
    text-decoration: none;
  }

  li::before {
    display: none;
  }
</style>
