---
import type { Article, Language } from "@/types";
import { isArticlePage } from "@/utils/pages";
import { getArticlePath } from "@/utils/path";
import { getArticleDescription } from "@/utils/description";
import Pin from "@/assets/pin.svg";
import ArticleTags from "@/components/meta/ArticleTags.astro";
import ArticleDate from "./ArticleDate.astro";

export interface Props {
  articles: Article[];
  lang: Language;
  pinned?: boolean;
}

const { articles, lang, pinned = false } = Astro.props;
const isArticle = isArticlePage(Astro.url.pathname);
---

<ul>
  {
    articles.map((article) => {
      const slug = article.data.permalink || article.id;

      return (
        <li class="mx-auto mb-6 before:hidden lg:mb-10">
          <h3 class="inline transition-colors">
            <a
              class="tracking-wide font-semibold lg:text-lg"
              href={getArticlePath(slug)}
              transition:name={`article-${slug}${lang ? `-${lang}` : ""}`}
              data-disable-theme-transition
            >
              {article.data.title}
            </a>
            {pinned && (
              <Pin
                aria-hidden="true"
                class="ml-1 mb-1 inline-block aspect-square"
                fill="currentColor"
              />
            )}
          </h3>

          <div class="block mt-1 text-sm font-time lg:ml-2.5 lg:inline lg:mt-0">
            <ArticleDate
              date={article.data.published}
              minutes={article.remarkPluginFrontmatter.minutes}
            />
          </div>

          <ArticleTags article={article} />

          {isArticle && (
            <p class="mt-2 block ml-2 lg:mt-3">
              {getArticleDescription(article, "list")}
            </p>
          )}
        </li>
      );
    })
  }
</ul>
