---
import { base, themeConfig } from "@/config";
import katexCSS from "katex/dist/katex.min.css?url";

interface Props {
  articleTitle?: string;
  articleDescription?: string;
}

const { title, subtitle, description, author, url, favicon } = themeConfig.site;

const { articleTitle, articleDescription } = Astro.props;

const siteTitle = title;
const siteSubtitle = subtitle;
const siteDescription = description;

const pageTitle = articleTitle
  ? `${articleTitle} | ${siteTitle}`
  : `${siteTitle} - ${siteSubtitle}`;
const pageDescription = articleDescription || siteDescription;
---

<head>
  <script is:inline>
    (function () {
      const theme = localStorage.getItem("theme");
      const systemDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      if (theme === "dark" || (!theme && systemDark)) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    })();
  </script>
  <!-- Basic info -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  {
    favicon.toLowerCase().endsWith(".svg") && (
      <link rel="icon" type="image/svg+xml" href={`${base}${favicon}`} />
    )
  }
  {
    favicon.toLowerCase().endsWith(".png") && (
      <link rel="icon" type="image/png" href={`${base}${favicon}`} />
    )
  }
  {
    favicon.toLowerCase().endsWith(".ico") && (
      <link rel="icon" type="image/x-icon" href={`${base}${favicon}`} />
    )
  }
  <title>{pageTitle}</title>
  <meta name="description" content={pageDescription} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={pageTitle} />
  <meta name="author" content={author} />
  <meta name="generator" content={Astro.generator} />
  <link
    rel="stylesheet"
    href={katexCSS}
    media="print"
    onload={`this.media='all'`}
  />
  <link
    rel="stylesheet"
    href="https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@100..900"
  />
  <link
    rel="stylesheet"
    href="https://fonts.loli.net/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap"
  />
  <script
    defer
    src="https://fastly.jsdelivr.net/npm/katex@0.16.9/dist/contrib/mhchem.min.js"
  ></script>
</head>
